[Desktop Entry]
Encoding=UTF-8
Name=NatisCoin Core
Comment=NatisCoin P2P Cryptocurrency
Comment[de]=Verbinde mit dem NatisCoin peer-to-peer Netzwerk
Comment[fr]=NatisCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=NatisCoin, eşten eşe kriptografik sanal para birimi
Exec=natiscoin-qt %u
Terminal=false
Type=Application
Icon=natiscoin128
MimeType=x-scheme-handler/natiscoin;
Categories=Office;Finance;
